{% extends 'knowledgebank/base.html' %}

{% block content %}

    <br><p>Details for post number {{post.pk}} added by: {{post.author}} on {{post.creation_date|date:"F d, Y"}}</p>
    {{post.content}}
    <div class="line"></div>

    {% for comment in comments %}
        <div class="question">
        <small class="text-muted">{{ comment.date_comment|date:"F d, Y" }}</small>
        <small class="text-muted">by {{ comment.author }}</small>
        <p class="article-content">{{ comment.content }}</p>
        </div>
        <div class="line"></div>
    {% endfor %}

    <div style="text-align:center;" id="box">
    <div href="#ResponseForm" class="btn btn-info navbar-btn" data-toggle="collapse">

        {% if comments %}
            Add your comment!
        {% else %}
            Be the first person to add a reply!
        {% endif %}

        </div>
    </div>

<div id="ResponseForm" class="collapse">
    <form method="POST">
        {% csrf_token %}
        <br>{{form}}<br>
        <button type="submit" class="btn btn-default">Add reply</button>
    </form>
</div>

{% endblock content %}