{% extends 'knowledgebank/base.html' %}
{% block content %}

    <div>
    <a href="{% url 'create-question' %}">Add question</a>
    </div>
    <br>

    {% for question in questions %}
        <div class="question" >
        <small class="text-muted">{{ question.creation_date|date:"F d, Y" }}</small>
        <small class="text-muted">by {{ question.author }}</small>
        <a href="post/{{ question.pk }}"><p class="article-content">{{ question.content }}</a></p>
        </div>
        <div class="line"></div>
    {% endfor %}
{% endblock content %}